/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/*Ende Google Fonts Import*/

body {
    background-color: aliceblue;
}

#wrapper {
    margin: 0 15% 0 15%;
    background-color: bisque;
}

header {
    width: 100%;
}

#Logo {
    margin: 2% 0 0 27%;
    position: absolute;
    width: 20%;
}

#header {
    width: 100%;
}

aside {
    background-color: teal;
    padding: 0.2% 2% 0.2% 2%;
}

aside section {
    background-color: thistle;
    width: 32%;
    height: 20%;
    float: left;
    margin: 0 0.6% 0 0.6%;
}

aside section img {
    width: 50%;
    margin: 0 25% 0 25%;
}

aside section p {
    background-color: turquoise;
    margin: 0 10% 0 10%;
}

#headTaste {
    clear: left;
}

.Marktlogo {
    max-width: 5%;
    height: auto;
}



/*FOOTER*/
#footerLEFT {
    text-align: left;
}

#footerRIGHT {
    text-align: right;
}
/*ENDE FOOTER*/